<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		<add key="webaddress" value="https://api.baselinker.com/connector.php"/>
		<add key="Token" value =""/>
		<add key="Logger" value ="Console"/>   <!-- File, Console -->
		<add key="SourceClient" value ="WebAPI"/> <!-- WebAPI-->		
	</appSettings>
</configuration>
